# .bash_proxy

{% if bash_proxy_noproxy is defined %}
export no_proxy={{ bash_proxy_noproxy|join(',') }}

{% endif %}
{% if bash_proxy_ftp is defined and bash_proxy_ftp %}
FTP_PROXY_PROT="{{ bash_proxy_ftp_prot if bash_proxy_ftp_prot is defined else 'http' }}"
FTP_PROXY_USER="{{ bash_proxy_ftp_user if bash_proxy_ftp_user is defined else '' }}"
FTP_PROXY_PASS="{{ bash_proxy_ftp_pass if bash_proxy_ftp_pass is defined else '' }}"
FTP_PROXY_HOST="{{ bash_proxy_ftp_host if bash_proxy_ftp_host is defined else 'localhost' }}"
FTP_PROXY_PORT="{{ bash_proxy_ftp_port if bash_proxy_ftp_port is defined else '8080' }}"

if [ ! -z "${FTP_PROXY_USER}" ] && [ ! -z "${FTP_PROXY_PASS}" ]
then
  FTP_PROXY_CRED="${FTP_PROXY_USER}:${FTP_PROXY_PASS}@"
fi

FTP_URL="${FTP_PROXY_PROT}://${FTP_PROXY_CRED}${FTP_PROXY_HOST}:${FTP_PROXY_PORT}"
export ftp_proxy="${FTP_URL}"

{% endif %}
{% if bash_proxy_http is defined and bash_proxy_http %}
HTTP_PROXY_PROT="{{ bash_proxy_http_prot if bash_proxy_http_prot is defined else 'http' }}"
HTTP_PROXY_USER="{{ bash_proxy_http_user if bash_proxy_http_user is defined else '' }}"
HTTP_PROXY_PASS="{{ bash_proxy_http_pass if bash_proxy_http_pass is defined else '' }}"
HTTP_PROXY_HOST="{{ bash_proxy_http_host if bash_proxy_http_host is defined else 'localhost' }}"
HTTP_PROXY_PORT="{{ bash_proxy_http_port if bash_proxy_http_port is defined else '8080' }}"

if [ ! -z "${HTTP_PROXY_USER}" ] && [ ! -z "${HTTP_PROXY_PASS}" ]
then
  HTTP_PROXY_CRED="${HTTP_PROXY_USER}:${HTTP_PROXY_PASS}@"
fi

HTTP_URL="${HTTP_PROXY_PROT}://${HTTP_PROXY_CRED}${HTTP_PROXY_HOST}:${HTTP_PROXY_PORT}"
export http_proxy="${HTTP_URL}"

{% endif %}
{% if bash_proxy_https is defined and bash_proxy_https %}
HTTPS_PROXY_PROT="{{ bash_proxy_https_prot if bash_proxy_https_prot is defined else 'http' }}"
HTTPS_PROXY_USER="{{ bash_proxy_https_user if bash_proxy_https_user is defined else '' }}"
HTTPS_PROXY_PASS="{{ bash_proxy_https_pass if bash_proxy_https_pass is defined else '' }}"
HTTPS_PROXY_HOST="{{ bash_proxy_https_host if bash_proxy_https_host is defined else 'localhost' }}"
HTTPS_PROXY_PORT="{{ bash_proxy_https_port if bash_proxy_https_port is defined else '8443' }}"

if [ ! -z "${HTTPS_PROXY_USER}" ] && [ ! -z "${HTTPS_PROXY_PASS}" ]
then
  HTTPS_PROXY_CRED="${HTTPS_PROXY_USER}:${HTTPS_PROXY_PASS}@"
fi

HTTPS_URL="${HTTPS_PROXY_PROT}://${HTTPS_PROXY_CRED}${HTTPS_PROXY_HOST}:${HTTPS_PROXY_PORT}"
export https_proxy="${HTTPS_URL}"

{% endif %}
{% if bash_proxy_rsync is defined and bash_proxy_rsync %}
RSYNC_PROXY_USER="{{ bash_proxy_rsync_user if bash_proxy_rsync_user is defined else '' }}"
RSYNC_PROXY_PASS="{{ bash_proxy_rsync_pass if bash_proxy_rsync_pass is defined else '' }}"
RSYNC_PROXY_HOST="{{ bash_proxy_rsync_host if bash_proxy_rsync_host is defined else 'localhost' }}"
RSYNC_PROXY_PORT="{{ bash_proxy_rsync_port if bash_proxy_rsync_port is defined else '1080' }}"

if [ ! -z "${RSYNC_PROXY_USER}" ] && [ ! -z "${RSYNC_PROXY_PASS}" ]
then
  RSYNC_PROXY_CRED="${RSYNC_PROXY_USER}:${RSYNC_PROXY_PASS}@"
fi

RSYNC_URL="${RSYNC_PROXY_CRED}${RSYNC_PROXY_HOST}:${RSYNC_PROXY_PORT}"
export RSYNC_PROXY="${RSYNC_URL}"

{% endif %}
